*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}




@font-face {
    font-display: swap; 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/mulish-v13-latin-300.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v13-latin-regular.woff2') format('woff2'); /
}
@font-face {
    font-display: swap; 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mulish-v13-latin-700.woff2') format('woff2'); 
}




.container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.healthcare {
    margin-bottom: 100px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 100px;
    
}

.header-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
}

.header-item {
    margin-right: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #1F1534;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0em;
}

.header-active-item {
    font-weight: 700;
}


/* HEALTHCARE SECTION */

.healthcare-conatainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.healthcare-left-side {
    width: 445px;
}

.healthcare-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

.healthcare-text {
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-bottom: 60px;
    color: #7D7987;
}

.healthcare-link {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    border: 3px solid #458ff6;
    background-color: #458ff6;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 40px;
    
}

.healthcare-link:hover {
    background-color: #fff;
    color: #458ff6;
}

.healthcare-img {
    width: 693px;
    height: 598px;
}



/* OUR SERVICES */

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headin-and-text-wrapper {
    width: 952px;
    height: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.services-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

.line {
    display: inline-block;
    border-top: 2px solid #000;
    width: 56px;
    height: 2px;
}

.services-text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #7D7987;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.services-item{
    width: 350px;
    height: 354px;
    border-radius: 20px;
    list-style: none;
    padding: 40px;
    margin: 10px;
    box-shadow: 10px 40px 50px 0px #E5E9F666;

}

.services-item-heding {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}

.services-item-text {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#7D7987;
}

.services-link {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    text-decoration: none;

    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #458FF6;


}



